.cart-count-number{
    position: absolute;
    top: 2px;
    margin-left: 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
    background-color: rgb(96, 183, 246);
    border-radius: 50%;
    padding: 1px 5px;
}